// End of File
pub const EOF: i32 = 0;

// RegularExpression Ids
@foreach(token : TOKENS)
pub const {{token.label}}: u32 = {{token.ordinal}};
@end

// Lexical states
@foreach(index : STATES)
pub const {{index.name}}: u32 = {{index}};
@end

pub const TOKEN_IMAGE : [&str; {{PRODUCTIONS_COUNT}}] = [
  "<EOF>",
@foreach(prod : PRODUCTIONS)
  {{prod.label}}
@end
];